MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/sanadak-portfolio?retryWrites=true&w=majority
JWT_SECRET=change-me-to-a-long-random-string
FRONTEND_URLS=http://localhost:4200,http://localhost:4201,https://sanadk-portfolio-public-git-main-ahmeds-projects-bab65924.vercel.app,https://sanadk-portfolio-admin-ahmeds-projects-bab65924.vercel.app
PORT=3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
